
$dateHeadHeight:28px;
$datePickerWidth:260px;
$datePickerHeight:350px;


$datePadding:5px;

$everyUnitWidth:($datePickerWidth - $datePadding * 2 ) / 7;
$everyUnitHeight: $datePickerHeight / 6;

$arrowWidth:40px;

$mainColor:#16a6b3;

@mixin splitLine(){
  border-bottom: #ededed 1px solid;
}

#zhouyg-datePicker{
  background-color: #fff;
  width: $datePickerWidth;
  height: $datePickerHeight;

  > header{
    box-sizing: border-box;
    padding: 0 $datePadding;
    width: 100%;
    height: $dateHeadHeight;
    line-height: $dateHeadHeight;
    @include splitLine();

    position: relative;

    .arrow-left,.arrow-right{
      margin-top: -5px;
      border-top: solid 1px #999999;
      border-left: solid 1px #999999;
      width: 10px;
      height: 10px;
      display: inline-block;
      position: absolute;
      top: 50%;

      cursor: pointer;;
    }
    .arrow-left{
      transform: rotate(-45deg);
      left: 15px;
    }
    .arrow-right{
      transform: rotate(135deg);
      right: 15px;
    }
    .title{
      width: 100%;
      height: $dateHeadHeight;
      line-height: $dateHeadHeight;
      color: #666666;
      text-align: center;

      display: inline-block;
    }
  }
  > table{
    @include splitLine();
    width: 100%;
    height: 181px;;
    text-align: center;

    th,td {
      padding: 0;
      color: #666666;
      font-size: 14px;
      line-height: 2.2em;
    }

    tbody td{
      cursor: pointer;
      &.minor{
        color: #999999;
      }
      &.highlight{
        color: #dd0000;
      }
      &:hover{
        background-color: $mainColor;
        border-radius: 50%;
        color: #ffffff;
      }
      &.current{
        border: $mainColor 2px solid;
        border-radius: 50%;
        box-sizing: border-box;
        padding: 7px;
        width: 32px;
        height: 32px;
        line-height: initial;
      }
    }

    thead{
      height: $everyUnitHeight;
    }
  }
}