
$dateHeadHeight:60px;
$datePickerWidth:500px;
$datePickerHeight:400px;


$datePadding:10px;

$everyUnitWidth:($datePickerWidth - $datePadding * 2 ) / 7;
$everyUnitHeight: $datePickerHeight / 6;

$arrowWidth:40px;

#zhouyg-datePicker{
  box-sizing: border-box;
  border: 1px #999 solid;
  padding: $datePadding;
  width: $datePickerWidth;

  > header{
    width: 100%;
    height: $everyUnitHeight;

    .arrow-left,.arrow-right{
      width: $everyUnitWidth;
      height: $dateHeadHeight;
      line-height: $dateHeadHeight;
    }
    .arrow-left{
      background-image: url(../alert_success.png);
      background-repeat: no-repeat;
      background-size: $arrowWidth $arrowWidth;
      background-position: center center;
      float: left;
    }
    .arrow-right{
      background-image: url(../alert_success.png);
      background-repeat: no-repeat;
      background-size: $arrowWidth $arrowWidth;
      background-position: center center;
      float: right;
    }
    .title{
      background-color: #BEBEE2;
      height: $dateHeadHeight;
      line-height: $dateHeadHeight;
      text-align: center;
      display: flex;

      .date{
        flex: 1;
        span{

        }
      }
    }
  }
  > table{
    background-color: #f0f0f0;
    width: 100%;
    height:$datePickerHeight;
    text-align: center;

    th,td{
      background-color: #ffffff;
    }

    thead{
      height: $everyUnitHeight;
    }
  }
}